In [1]:
import pandas as pd

In [2]:
#house example
house = pd.read_csv('WestRoxbury.csv')
house.head()

,TOTAL VALUE,TAX,LOT SQFT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
0,344.2,4330,9965,2436,1352,2.0,6,3,1,1,1,0
1,412.6,5190,6590,3108,1976,2.0,10,4,2,1,1,0
2,330.1,4152,7500,2294,1371,2.0,8,4,1,1,1,0
3,498.6,6272,13773,5032,2608,1.0,9,5,1,1,1,1
4,331.5,4170,5000,2370,1438,2.0,7,3,2,0,1,0

In [3]:
attr = house.values    #convert the values to a numpy array
print house.columns.values

['TOTAL VALUE ' 'TAX' 'LOT SQFT ' 'GROSS AREA ' 'LIVING AREA' 'FLOORS '
 'ROOMS' 'BEDROOMS ' 'FULL BATH' 'HALF BATH' 'KITCHEN' 'FIREPLACE']

In [5]:
#choose predictors to construct attribute matrix(X)
#in this example, we choose Tax, Floors and Rooms as our predictors.

select_index = [1, 5, 6] #select_index = what we use as predictors
house_X = attr[:, select_index]
print house_X.shape

#target
house_y = attr[:, 0]

(5802L, 3L)

In [8]:
#alternative (optional)
import numpy as np
np.shape(house_X)

(5802L, 3L)

In [9]:
#split the data into two parts: training and validation ("test" means validation data)
#sklearn is a short standard of Scikit-Learn
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = \
train_test_split(house_X, house_y, test_size = 0.3, random_state = 42 )   
#train_test_split is a function
#"test_size" means the validation size = 0.3 means the percentage of the whole data

In [10]:
print y_valid.shape

(1741L,)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
import numpy as np
#Train the model using the training set
model.fit(X_train, y_train)
#outputs all coefficients are fit in the model??????

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
np.set_printoptions(precision = 4, suppress = True)   #set precision for numpy arrays (make there are 4 digits numbers after .)
                                                      #"suppress = True" means "get ride of scienfic notation like E"
print model.coef_  #coefficients in the order
print '%.4f'% model.intercept_  #intercept of the linear regression  ('$.4f%' also limit the number of digits = 4)
# so the queation: Total Value = 0.0397+ 0.0795*Tax + 0.0003*Floors - 0.0003*Rooms

[ 0.0795  0.0003 -0.0003]
0.0397

In [17]:
#make predictions for the validation data set (y_pred standard function)
y_pred = model.predict(X_valid)

#make prediction for a example: for a new house with 'Tax=4330, floors=2,rooms=6'  
y_new_pred = model.predict([ [4330, 2, 6]])  #because it is a 2d matrix so has two '[]'
print y_new_pred

[344.2371]

In [3]:
#Lets compute the mean absolute error of the validation set
import numpy as np
e = y_valid - y_pred

#compute mae= "mean absolute error"
mae = np.mean(np.abs(e)) 
print mae

NameError: name 'y_valid' is not defined

In [20]:
#make predictions on the training data set
y_pred_train = model.predict(X_train)

e = y_train - y_pred_train

mae = np.mean(np.abs(e)) 
print mae     
#the training data error is little bit smaller than the validation data error. But the mae numbers are close to each other.
#so we can conclude the prediction is a good one.

0.019564269394721674